* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 15px;
  color: #666;
  margin: 0; }

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-size: 15px;
  color: #666; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none; }
  select option[value=""][disabled] {
    display: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

body {
/*  background: url("../images/form-wizard-bg.jpg");
  background-size: cover; */
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-group-toggle img {
    /*  width: 100%;
    height: 60px;*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.btn-group {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.btn-group ul{
  display: inline-flex;
}
.btn-group ul li{
/*    width: 80px;
    height: 108px;*/
}
.btn-group ul li p{
  text-align: center;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
input[type=radio] {
  display: none;
}
.btn-secondary {
    color: #fff;
  }
  .text-center {
    text-align: center !important;
}
.wrapper-content {
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center; }
  .wrapper-content .image-holder {
    width: 51%; }
  .wrapper-content form {
    width: 49%; }

.wizard > .steps .current-info, .wizard > .steps .number {
  display: none; }

#wizard {
  /*min-height: 834px;*/
  background: #fff;
  margin-right: 60px;
  padding: 107px 75px 65px; }

.steps {
  margin-bottom: 30px; }
  .steps ul {
    display: flex;
    position: relative; }
    .steps ul li {
      width: 20.16%;
      margin-right: 10px; }
      .steps ul li a {
        display: inline-block;
        width: 100%;
        height: 7px;
        background: #e6e6e6;
        border-radius: 3.5px; }
      .steps ul li.first a, .steps ul li.checked a {
        background: #ffc000;
        transition: all 0.5s ease; }
    .steps ul:before {
      content: "Jenis Kendaraan";
      font-size: 22px;
      color: #333;
      top: -38px;
      position: absolute; }
    .steps ul.step-2:before {
      content: "Minat Layanan"; }  
    .steps ul.step-3:before {
      content: "Jam Beroperasi"; }
    .steps ul.step-4:before {
      content: "Filter Calon Pekerja"; 
    }
h3 {
}

.form-row {
  margin-bottom: 24px; }
  .form-row label {
    margin-bottom: 8px;
    display: block; }
  .form-row.form-group {
    display: flex; }
    .form-row.form-group .form-holder {
      width: 50%;
      margin-right: 21px; }
      .form-row.form-group .form-holder:last-child {
        margin-right: 0; }

.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    top: 11px;
    right: 19px;
    font-size: 22px;
    color: #999; }

.form-control {
  height: 42px;
  border: 1px solid #e6e6e6;
  background: none;
  width: 100%;
  padding: 0 18px; }
  .form-control:focus {
    border-color: #ffc000; }
  .form-control::-webkit-input-placeholder {
    color: #999;
    font-size: 13px; }
  .form-control::-moz-placeholder {
    color: #999;
    font-size: 13px; }
  .form-control:-ms-input-placeholder {
    color: #999;
    font-size: 13px; }
  .form-control:-moz-placeholder {
    color: #999;
    font-size: 13px; }

textarea.form-control {
  padding-top: 11px;
  padding-bottom: 11px; }

.option {
  color: #999; }

.actions ul {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: space-between; }
  .actions ul.step-last {
    justify-content: flex-end; }
    .actions ul.step-last li:first-child {
      display: none; }
.actions li a {
  padding: 0;
  border: none;
  display: inline-flex;
  height: 51px;
  width: 135px;
  align-items: center;
  background: #ffc000;
  cursor: pointer;
  position: relative;
  padding-left: 41px;
  color: #333;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-weight: 400; 
}
  .actions li a:before {
        content: '\e684';
    position: absolute;
    top: 12px;
    right: 40px;
    font-size: 28px;
    font-family: 'Pe-icon-7-stroke';
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .actions li a:hover {
    background: #d9a507; 
    text-decoration: none;
  }
    .actions li a:hover:before {
      -webkit-animation-name: hvr-icon-wobble-horizontal;
      animation-name: hvr-icon-wobble-horizontal;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1; }
.actions li[aria-disabled="true"] a {
  display: none; }
.actions li:first-child a {
  background: #e6e6e6;
  padding-left: 48px; }
  .actions li:first-child a:before {
    content: '\e686';
    left: 26px; }
  .actions li:first-child a:hover {
    background: #ccc; }
.actions li:last-child a {
  padding-left: 30px;
  /*width: 167px;*/
  font-weight: 400; }
  .actions li:last-child a:before {
    right: 30px; }

.checkbox {
  position: relative; }
  .checkbox label {
    padding-left: 21px;
    cursor: pointer;
    color: #999; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder; }
  .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: '\f26b'; }

.checkbox-circle {
  margin-top: 41px;
  margin-bottom: 46px; }
  .checkbox-circle label {
    cursor: pointer;
    padding-left: 26px;
    color: #999;
    display: block;
    margin-bottom: 15px;
    position: relative; }
    .checkbox-circle label.active .tooltip {
      display: block; }
  .checkbox-circle input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-circle input:checked ~ .checkmark:after {
    display: block; }
  .checkbox-circle .checkmark {
    position: absolute;
    top: 11px;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #ebebeb;
    border: 1px solid #cdcdcd; }
    .checkbox-circle .checkmark:after {
      content: "";
      top: 6px;
      left: 6px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #666666;
      position: absolute;
      display: none; }
  .checkbox-circle .tooltip {
    padding: 9px 22px;
    background: #f2f2f2;
    line-height: 1.8;
    position: relative;
    margin-top: 16px;
    margin-bottom: 28px;
    display: none; }
    .checkbox-circle .tooltip:before {
      content: "";
      border-bottom: 10px solid #f2f2f2;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
      position: absolute;
      bottom: 100%; }

.product {
  margin-bottom: 33px; }

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px; }
  .item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none; }
  .item .left {
    display: flex;
    align-items: center; }
  .item .thumb {
    display: inline-flex;
    width: 100px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2; }
  .item .purchase {
    display: inline-block;
    margin-left: 21px; }
    .item .purchase h6 {
      font-family: "Poppins-Medium";
      font-size: 16px;
      margin-bottom: 4px;
      font-weight: 500; }
      .item .purchase h6 a {
        color: #333; }
  .item .price {
    font-size: 16px; }

.checkout {
  margin-bottom: 44px; }
  .checkout span.heading {
    font-family: "Poppins-Medium";
    font-weight: 500;
    margin-right: 5px; }
  .checkout .subtotal {
    margin-bottom: 18px; }
  .checkout .shipping {
    margin-bottom: 19px; }
    .checkout .shipping span.heading {
      margin-right: 4px; }
  .checkout .total-price {
    font-family: "Muli-Bold";
    color: #333;
    font-weight: 700; }

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@media (max-width: 1500px) {
  .wrapper-content {
    height: auto; 
  } 
}
@media (max-width: 1199px) {
  .wrapper-content {
    height: 100vh; 
  }

  #wizard {
    margin-right: 40px;
    min-height: 829px;
    padding-left: 60px;
    padding-right: 60px; 
  } 
}
@media (max-width: 991px) {
  .wrapper-content {
    justify-content: center; }
    .wrapper-content .image-holder {
      display: none; }
    .wrapper-content form {
      width: 60%; }

  #wizard {
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px; } }
@media (max-width: 767px) {
  .wrapper-content {
    height: auto;
    display: block; }
    .wrapper-content .image-holder {
      width: 100%;
      display: block; }
    .wrapper-content form {
      width: 100%; }

  #wizard {
    min-height: unset;
    padding: 70px 20px 40px; }

  .form-row.form-group {
    display: block; }
    .form-row.form-group .form-holder {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px; }

  .item .purchase {
    margin-left: 11px; } }

/*# sourceMappingURL=style.css.map */

  .remove {
    margin-top: 12px;
  }
  .bootstrap-datetimepicker-widget{
    display: block;
  }

  .dropdown-menu.bootstrap-datetimepicker-widget.open {
    opacity: 1;
    transform: scale(1);
    top: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 4px;
    width: 19em;
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0;
}

.sr-only,
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after,
.bootstrap-datetimepicker-widget .picker-switch::after,
.bootstrap-datetimepicker-widget table th.prev::after,
.bootstrap-datetimepicker-widget table th.next::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.bootstrap-datetimepicker-widget {
    list-style: none;
}

.bootstrap-datetimepicker-widget a:hover {
    box-shadow: none !important;
}

.bootstrap-datetimepicker-widget a .btn:hover {
    background-color: transparent;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 4px;
    width: 19em;
}

@media (min-width: 768px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em;
    }
}

@media (min-width: 991px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em;
    }
}

@media (min-width: 1200px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    right: auto;
    left: 12px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top {
    margin-top: auto;
    margin-bottom: 27px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top.open {
    margin-top: auto;
    margin-bottom: 27px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
    left: auto;
    right: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
    left: auto;
    right: 7px;
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 0;
    margin: 0;
    border-width: 0;
    background-color: transparent;
    color: #9c27b0;
    box-shadow: none;
}

.bootstrap-datetimepicker-widget a[data-action]:hover {
    background-color: transparent;
}

.bootstrap-datetimepicker-widget a[data-action]:hover span {
    background-color: #eee;
    color: #9c27b0;
}

.bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0;
    border-radius: 50%;
}

.bootstrap-datetimepicker-widget button[data-action] {
    width: 38px;
    height: 38px;
    margin-right: 3px;
    padding: 0;
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    content: "Increment Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    content: "Increment Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    content: "Decrement Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    content: "Decrement Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    content: "Show Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    content: "Show Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    content: "Toggle AM/PM";
}

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    content: "Clear the picker";
}

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    content: "Set the date to today";
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center;
    border-radius: 3px;
    font-size: 0.875rem;
}

.bootstrap-datetimepicker-widget .picker-switch::after {
    content: "Toggle Date and Time Screens";
}

.bootstrap-datetimepicker-widget .picker-switch td {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    line-height: inherit;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 2.5;
    height: 2.5em;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0px !important;
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0;
}

.bootstrap-datetimepicker-widget table.table-condensed tr>td {
    text-align: center;
}

.bootstrap-datetimepicker-widget table td>div,
.bootstrap-datetimepicker-widget table th>div {
    text-align: center;
}

.bootstrap-datetimepicker-widget table th {
    height: 20px;
    line-height: 20px;
    width: 20px;
    font-weight: 500;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px;
}

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
    background: none;
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.prev span,
.bootstrap-datetimepicker-widget table th.next span {
    border-radius: 3px;
    height: 27px;
    width: 27px;
    line-height: 28px;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
}

.bootstrap-datetimepicker-widget table th.prev::after {
    content: "Previous Month";
}

.bootstrap-datetimepicker-widget table th.next::after {
    content: "Next Month";
}

.bootstrap-datetimepicker-widget table th.dow {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 10px;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
    cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover span,
.bootstrap-datetimepicker-widget table thead tr:first-child th.picker-switch:hover {
    background: #eee;
}

.bootstrap-datetimepicker-widget table td>div {
    border-radius: 3px;
    height: 54px;
    line-height: 54px;
    width: 54px;
    text-align: center;
}

.bootstrap-datetimepicker-widget table td.cw>div {
    font-size: .8em;
    height: 20px;
    line-height: 20px;
    color: #999;
}

.bootstrap-datetimepicker-widget table td.day>div {
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    color: #3C4858;
    font-size: 0.875rem;
}

.bootstrap-datetimepicker-widget table td.minute>div,
.bootstrap-datetimepicker-widget table td.hour>div {
    border-radius: 50%;
}

.bootstrap-datetimepicker-widget table td.day:hover>div,
.bootstrap-datetimepicker-widget table td.hour:hover>div,
.bootstrap-datetimepicker-widget table td.minute:hover>div,
.bootstrap-datetimepicker-widget table td.second:hover>div {
    background: #eee;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.old>div,
.bootstrap-datetimepicker-widget table td.new>div {
    color: #999;
}

.bootstrap-datetimepicker-widget table td.today>div {
    position: relative;
}

.bootstrap-datetimepicker-widget table td.today>div:before {
    content: '';
    display: inline-block;
    border: 0 0 7px 7px solid transparent;
    border-bottom-color: #9c27b0;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.bootstrap-datetimepicker-widget table td.active>div,
.bootstrap-datetimepicker-widget table td.active:hover>div {
    background-color: #9c27b0;
    color: #fff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.bootstrap-datetimepicker-widget table td.active.today:before>div {
    border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget table td.disabled>div,
.bootstrap-datetimepicker-widget table td.disabled:hover>div {
    background: none;
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 3px 3px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.bootstrap-datetimepicker-widget table td span:hover {
    background: #eee;
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #9c27b0;
    color: #fff;
}

.bootstrap-datetimepicker-widget table td span.old {
    color: #999;
}

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
    background: none;
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

.bootstrap-datetimepicker-widget .timepicker-picker span,
.bootstrap-datetimepicker-widget .timepicker-hours span,
.bootstrap-datetimepicker-widget .timepicker-minutes span {
    border-radius: 50% !important;
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.row_kendaraan{
  padding: 20px;
    border: solid 1px #ddd;
    border-radius: 12px;
}
.remove{
  padding: 20px;
    border: solid 1px #ddd;
    border-radius: 12px;
}