@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
html, body {
  max-height: 100%;
  background-color: #ffdb00 !important;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow-y:scroll;*/
  margin: 0;
  height: 100%;
  touch-action: pan-x pan-y;
}
.gj-picker-md [role=header] {
    background: #002060 !important;
}
.gj-picker-md [role=footer] button.gj-button-md {
    color: #002060 !important;
}
.gj-picker-md [role=body] [role=arrow] {
    background-color: #ffdb00;
}
.gj-picker-md .arrow-end {
    border: 16px solid #ffdb00;
}
.color-yellow{
    color: #ffdb00 !important;
}
.color-darker-blue{
    color: #404e67;
}
.color-purple{
    color: #7875ee !important;
}
.color-orange{
    color: #e48214 !important;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.page-loader {  
  position: fixed;  
  z-index: 99999;   
  width: 100%;  
  height: 100%;   
  top: 0;   
  left: 0;  
  background: #fff;   
  /*display: none ;  */
  -webkit-transition: opacity .5s ease-in-out;  
  -o-transition: opacity .5s ease-in-out;   
  -moz-transition: opacity .5s ease-in-out;   
  transition: opacity .5s ease-in-out;
}
.page-loader{  
  -webkit-transition: .6s;  
  -moz-transition: .6s;   
  -o-transition: .6s;   
  transition: .6s; 
  opacity: 1;   
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";   
  visibility: visible;
} 
.page-loader div {  
  position: absolute;   
  top: 50%;   
  width: 100%;  
  text-align: center;   
  color: #1d1d1d;   
  margin-top: -50px;  
  display: block;
}
.page-loader div p {  
  margin-top: 60px;  
  font-size: 15px;  
  color: #8f8f8f;
  letter-spacing: 8px; 
  padding-left: 1em;  
  text-transform: uppercase;  
  font-family: Roboto, Helvetica, sans-serif;   
  font-weight: 400;
}
#preloader {  
  position: fixed;  
  top: 0;   
  left: 0;  
  width: 100%;  
  height: 100%;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px -50px;
}
.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 4px solid #ddd;
  border-top: 4px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px !important;
  left: 50%;
  top: 50%;
  margin: -50px -40px;
  position: absolute;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*#c_shape {
  animation: loader 1.5s linear infinite;
  transform-origin: 62.1px 60.3px;
  animation-play-state: running!important;
}
@keyframes loader {
  100% { transform: rotate(360deg)}
}

#loader rect {
  animation: none 1.5s linear infinite;
  display: inline-block;
  animation-play-state: running!important;
}
#loader rect:nth-child(1) {
  animation-name: loader1;
}
#loader rect:nth-child(2) {
  animation-name: loader2;
}
#loader rect:nth-child(3) {
  animation-name: loader3;
}
#loader rect:nth-child(4) {
  animation-name: loader4;
}
#loader rect:nth-child(5) {
  animation-name: loader5;
}

@keyframes loader1 {
  0% { fill: #3E2C53;}
  33.3333% { fill: #AC2B61;}
  66.6666% { fill: #F3E3B4;}
}
@keyframes loader2 {
  0% { fill: #3F577A;}
  33.3333% { fill: #E33D5F;}
  66.6666% { fill: #BADCC8;}
}
@keyframes loader3 {
  0% { fill: #4C8FA2;}
  33.3333% { fill: #EF7C5E;}
  66.6666% { fill: #7FC7BF;}
}
@keyframes loader4 {
  0% { fill: #7BB594;}
  33.3333% { fill: #F9C65F;}
  66.6666% { fill: #EE7B73;}
}
@keyframes loader5 {
  0% { fill: #DBD17F;}
  33.3333% { fill: #F5EF9E;}
  66.6666% { fill: #D4385F;}
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}*/

.content-placeholder {
  display: inline-block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: inherit;
  position: relative;
}
.wrapper {
    display: block;
}

.bg-yellow{
    background-color: #ffdb00 !important;
}
.bg-purple{
    background-color: #7875ee !important;
}
.bg-darker-blue{
    background-color: #002060 !important;
}
/*top nav*/
.topnav {
    margin-bottom: 0;
    /*border-bottom: 1px solid #b2b2b2;*/
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%), 0 0.5px 0 rgb(0 0 0 / 9%);
    padding: 0 !important;
    height: 50px;
    width: 100%;
    background: #fff;
    z-index: 2 !important;
}
.topnav ul {
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.topnav li {
    list-style: none;
}
.topnav i {
    float: left;
    color: #333;
    text-decoration: none;
    font-size: 50px;
    padding-left: 20px;
}
.topnav p {
    font-weight: 600;
    text-align: center;
    margin-right: 30px;
    line-height: 3;
    color: #333;
    margin: 0;
    margin-right: 30px;
}
/*navbar bottom*/
nav.nav-bottom {
  display: flex;
  background: #fff;
  padding: 0.6rem 0.8rem;
  /*border-radius: 30px 30px 0 0;*/
  box-shadow: rgb(108 114 124 / 16%) 0px -2px 4px;
  z-index: 2;
}

.nav-bottom a {
    width: 25%;
    color: inherit;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0.50rem 1rem;
    border-radius: 30px;
    position: relative;
    --hover-bg: #f7c12920;
    --hover-c: #f7c129;
}
.nav-bottom a:focus {
    text-decoration: none;
}
.nav-bottom a i {
  margin-right: -2.5rem;
  font-size:24px;
  pointer-events: none;
  transition: margin 0.2s ease-out;
  margin-left: 24px;
}
.nav-bottom a.active i {
    margin-left: 0 !important;
}
.nav-bottom a span {
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
  margin-left: 0.5rem;
}
.nav-bottom a:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: translate(0%, -50%) scale(0);
  visibility: visible;
  opacity: 1;
}
.nav-bottom a.active {
  background: var(--hover-bg);
  color: var(--hover-c);
}
.nav-bottom a.active:before {
  background: var(--hover-c);
  opacity: 0;
  visibility: hidden;
  transform: translate(0%, -50%) scale(2);
  transition: all 0.4s ease-out;
}
.nav-bottom a.active i {
  margin-right: 0;
}
.nav-bottom a.active span {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-out;
}

@media (max-width: 500px) {
  nav.nav-bottom {
    justify-self: start;
}
nav.nav-bottom a {
    margin: 0;
}
}
/*end navbar bottom*/

/***** Sidebar *****/
 
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #fff;
    color: #888;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
    z-index: 9999999;
}
 
.sidebar.active {
    left: 0;
}
 
/***** Content *****/
 
.content {
    width: 100%;
    transition: all 0.3s;
}

/***** Dark overlay *****/
 
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}
 
.overlay.active {
    display: block;
    opacity: 1;
}

.open-menu {
    /*position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);*/
}
 
.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}
 
/* Style for all buttons with the class btn-customized */
 
a.btn-customized {
    border: solid 2px #fff;
    border-right: none;
    border-left: none;
    text-decoration: none;
    background: linear-gradient(70deg, #7e7f84 25%, #6d6e72 25%);
    color: #fff;
    font-weight: 400;
    margin: 0px 5px;
    text-align: center;
    border-radius: 12px !important;
    padding: 7px 1.25rem;
    box-shadow: 0 4px 12px rgb(0 0 0 / 19%), 0 4px 4px rgb(0 0 0 / 23%);
    font-size: 16px;
}
 
a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: linear-gradient(70deg, #ddd 25%, #fff 25%);
    border: solid 2px #7e7f84;
    color: #7e7f84;
    box-shadow: none;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    background: rgb(91 91 91 / 39%);
    color: #fff;
}
 
.dismiss:hover,
.dismiss:focus {
    background: #ddd;
    color: #888;
}

.sidebar .logo {
    padding: 140px 20px 30px;
    border-bottom: 1px solid #eee;
    transition: all .3s;
    display: grid;
    justify-content: center;
    background: #002060;
}
.sidebar .logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    top: 85px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: solid 2px #ddd;
}
.sidebar .logo h5{
    color: #fff;
}
/*.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: url(../img/logo.png) left top no-repeat;
    border: 0;
    text-indent: -999999px;
}*/
.sidebar-button{
    display: inline-flex;
    margin-top: 10px;
}
.sidebar-button button {
    width: 75px;
    padding: 0.375rem 0.75rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.sidebar-button button:first-child{
    margin-right: 10px;
}
.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    transition: all .3s;
}
 
.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #888;
    font-size: 17px;
}
 
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #ddd;
    color: #888;
    text-decoration: none;
}
 
.sidebar ul li a i {
    margin-right: 5px;
}
 
.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #e8e8e8;
    color: #888;
}
 
.sidebar ul ul a {
    background: #888;
    padding-left: 30px;
    font-size: 14px;
}
 
.sidebar ul ul li.active > a {
    background: #555;
}
 
.sidebar a[data-toggle="collapse"] {
    position: relative;
}
 
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}
 
a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .75rem 1.5rem;
    background: #444;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: none;
    background: rgb(0, 0, 0, 0.2);
    color: #888;
}
 
a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}
 
a.btn-customized-3 i {
    margin-right: 5px;
}

.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}
 
a.btn-customized-4 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 0;
    background: #444;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    text-indent: -999999px;
}
 
a.btn-customized-4.btn-customized-dark {
    background: #222;
}
 
a.btn-customized-4.btn-customized-light {
    background: #fff;
}
 
a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}
 
a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
 
 
}
.btn-danger{
    background: linear-gradient(70deg, #f15546 25%, #ee4037 25%);
}
.btn-primary{
    background: linear-gradient(70deg, #1a8ac9 25%, #0f75bd 25%);
    border-radius: 8px !important;
}
.btn-warning{
    background: linear-gradient(70deg, #d4a108 25%, #ffc107 25%);
    border-radius: 8px !important;
    border:none !important;
}
.btn-secondary{
    background: linear-gradient(70deg, #bfc0c2 25%, #a8a9ad 25%);
    border:none !important;
    border-radius: 8px !important;
}
.btn-previous{
    border: solid 1px #404e67 !important;
    background: #fff !important;
    color: #404e67 !important;
    height: 48px;
    width: 100%;
    font-size: 13px !important;
}
.btn-next{
    background: #002060 !important;
    color: #fff !important;
    height: 48px;
    width: 100%;
    max-width: 80%;
    font-size: 13px !important;
}
.btn-submit{
    background: #404e67 !important;
    color: #fff !important;
    height: 48px;
    width: 100%;
    max-width: 80%;
    font-size: 13px !important;
}
.btn-inverse{
    background: #203864 !important;
    color: #fff !important;
    width: 100%;
    max-width: 80%;
}
.btn-cari {
    background: #7875ee !important;
    color: #fff !important;
    height: 48px;
    width: 100%;
    max-width: 80%;
}
.btn-call{
    width: 80px;
    height: 80px;
    border-radius: 100% !important;
    background: transparent;
    border: solid 1px #fff !important;
    color: #fff !important;
    margin-top: 10px;
}
.btn-call i{
    font-size: 21px;
}
.mw-80{
    max-width: 80%;
}
.btn-tambah{
    background: #cfefed !important;
    color: #2f3d58 !important;
    font-size: 15px !important;
}
.btn-tambah-barang{
    background: #52524f !important;
    color: #fff !important;
    border-radius: 50%;
}
.btn-back-maps{
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 20px;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 19%), 0 4px 4px rgb(0 0 0 / 23%);
}
.btn-back-maps i{
    font-size: 18px;
    line-height: 1.3;
    color: #555;
}
.button-group-pills .btn {
  border-radius: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-right: 8px;
  border-color: #ddd;
  background-color: #FFF;
  color: #555;
}
.button-group-pills .btn.active {
  border-color: #002060;
  background-color: #002060;
  color: #FFF;
  box-shadow: none;
}
.button-group-pills .btn:hover, .button-group-pills .btn:focus{
  border-color: #002060;
  background-color: #002060;
  color: #FFF;
}
.form-control:focus{
    border-color: #d1d1d1 !important;
    box-shadow: none !important;
}
.mt-6{
    margin-top: 85px;
}
.pb-6{
    padding-bottom: 4rem !important;
}
.bg-dark-white{
    background: #f4f4f7 !important;
}
.bg-dark-blue{
    background: #203864 !important;
}
.badge-warning{
    background-color: #ffdb00 !important;
}
.card-modern{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border: none !important;
    border-radius: 16px !important;
    background: #fff;
}
.text-version{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 15px;
    color: #555;
}
.fs-11{
    font-size: 11px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-13{
    font-size: 13px !important; 
}
.fs-14{
    font-size: 14px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-17{
    font-size: 17px !important;
}
.fs-18{
    font-size: 18px !important;
}
/* Modal */
.modal.fade{
    overflow-y: auto !important;
}
.modal-header .close {
    padding: 0 !important;
    position: absolute !important;
    font-size: 45px !important;
    font-weight: 300 !important;
    line-height: 1;
    top: 16px;
}
.modal-header{
    padding: 10px 1rem !important;
}
.modal-header .modal-title{
    margin: auto !important;
    color: #555;
    font-size: 18px;
}
.modal-dialog {
    width: 100% !important;
    bottom: 0;
    position: absolute !important;
    margin: 0 !important;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0) !important;
}

.modal.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out !important;
}
.modal.fade.show .modal-dialog {
  bottom: 0;
  max-width:100% !important;
}

.modal.fade .modal-dialog {
  bottom: -100%;
}
.modal-content {
    border:none !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: absolute !important;
    bottom: 0;
    height: 85%;
}
.modal-body{
    background: #fff;
}
.modal-footer{
    background: #fff;
    border-radius: 0 !important;
}
.animate-bottom {
    animation: animatebottom 0.4s !important;
}
.animate-top {
    animation: animatetop 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -400px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: 400px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
/* end modal */

/* Form Login */
@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}
.login-content{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    max-width: 400px;
}
.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  /*height: 100%;*/
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
}
.login.loading .btn-masuk {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading .btn-masuk .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok .btn-masuk {
  background-color: #34a853;
}
.login.ok .btn-masuk .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i {
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #888;
  border-left-width: 40px;
}
.login input:focus + i{
  opacity: 1;
  left: 33px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #d6a100;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 2px 0;
}
.info-text-sign-up{
    color: #94969f;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.info-text-sign-up a{
    color: #d6a100;
    font-size: 14px;
}
.info-text-sign-up a:focus{
    text-decoration: none;
}
.login .btn-masuk {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #404e67;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login .btn-masuk .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) .btn-masuk:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) .btn-masuk:focus {
  border-bottom-width: 4px;
}
.login-third-party-login {
    margin-top: 30px
}

.header-sprite {
    background: url(https://cdn.myntassets.com/myx/images/header@2x-new16.a409d46af2e211afcaa82c1359787a90408024be.png) no-repeat 0 0;
    background-size: 336px 48px
}

.login-info-text {
    color: #94969f;
    font-size: 12px
}

.login-button-info-text {
    margin-top: 0;
    margin-bottom: 18px;
}

.login-button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-button {
    display: block;
    margin: 0 auto;
    width: 100%;
/*     max-width: 162px; */
    padding-left: 40%;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: #696b79;
    height: 50px;
    border: 1px solid #bfc0c6;
    background-color: #fff;
    border-radius: 5px;
    text-align: left
}

.login-button:focus {
    outline: 0
}

.login-button:hover {
    box-shadow: 0 2px 5px #eaeaec
}

.login-facebook {
    margin-bottom: 10px;
}

.login-gplus-logo {
    background-position: -298px 0!important;
    width: 23px;
    top: 13px
}

.login-fb-logo,.login-gplus-logo {
    height: 29px;
    position: absolute;
    left: 15px
}

.login-fb-logo {
    background-position: -269px 0!important;
    width: 28px;
    top: 10px
}

@media(max-width:  768px){
    .login-content{
        max-width: 80%;
    }
}
/*end form login*/

/*start register*/
.register-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: #696b79;
    height: 50px;
    border: 1px solid #bfc0c6;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}
/*end register*/

/*verif phone number*/
.input-group-phone{
    background: #fff !important;
    color: #d1d1d1 !important;
    border-right: 0 !important;
    padding-right: 3px !important;
}
.input-group-number{
    background: #fff !important;
    color: #d1d1d1 !important;
    border-left: 0 !important;
    border-right: 0 !important; 
}
.input-group-email{
    background: #fff !important;
    color: #d1d1d1 !important;
    border-right: 0 !important; 
}
.input-verif-akun{
    border-left: 0 !important;
}
/*endverif phone number*/

/*verif otp*/
.inputs{
    margin-top: 20px;
    text-align: center;
}
.inputs input {
  font-size: 1.5rem;
  height: 3rem;
  text-align: center;
  width: 3rem;
  color: #d4a108;
  border: solid 2px #ededed;
}
.inputs input:focus{
    color: #d4a108;
}
/*end verif otp*/

/*verif nomor*/
.attention-info-text{
    color: #94969f;
    font-size: 16px;
}
/*end verif nomor*/

/*manfaat*/
.title-manfaat{
    width: 100%;
}
.title-manfaat p{
    color: rgb(0, 0, 0, 0.6);
}
.title-manfaat h4{
    font-size: 30px;
    letter-spacing: 1px;
}
.img-manfaat{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100px;
    display: block;
}
.min-vh-80 {
    min-height: 80vh !important;
}
/*end manfaat*/

/*mitra*/
.content-mitra a{
    width: 100%;
    max-width: 80% !important;
}
.card-mitra{
    margin-bottom: 20px;
    overflow:hidden;
    box-shadow: 0 3px 0px 0 rgba(136, 144, 195, 0.2), 0 5px 10px 0 rgba(37, 44, 97, 0.15);
    border:none !important;
    border-radius: 10px !important;
}
.card-mitra p{
    margin-bottom: 0;
    color: #8f8f8f;
    font-weight: 400;
    letter-spacing: 1px;
}
.title-mitra{
    width: 100%;
    max-width: 80%;
}
.title-mitra h4{
    font-size: 25px;
    text-align: left;
}
.title-mitra p{
    color: rgb(0, 0, 0, 0.6);
}
/*end mitra*/

/*daftar transporter*/
.title-daftar-transporter{
    width: 100%;
    margin-top: 30px;
}
.title-daftar-transporter p{
    color: rgb(0, 0, 0, 0.6);
    line-height: 1.2;
}
.title-daftar-transporter h4{
    font-size: 24px;
    line-height: 2;
}
/*end daftar transporter*/

/* jenis pengiriman */
.title-jenis-p{
    width: 100%;
    max-width: 90%;
    margin-bottom: 10px;
}
.title-jenis-p h4{
    font-size: 22px;
    text-align: left;
}
.title-jenis-p p{
    color: rgb(0, 0, 0, 0.5);
    font-weight: 500;
}
.content-mitra .card-jenis{
    width: 100%;
    max-width: 85% !important;
}
.card-jenis a{
    font-size: 16px;
    margin-top: 7px;
    margin-left: 10px;
    color: #9a9ca1;
    line-height: 2.6;
}
.card-jenis a:focus{
    text-decoration: none;
    color: #333 ;
}
.card-jenis i{
    color: #9a9ca1;
}
.card-jenis .card-body{
    padding: 11px;
}
.icon-jenis {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
}
.icon-jenis i{
    font-size: 24px;
    margin-left: 8px;
    line-height: 1.7;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.3);
}
.color1{
    background: #f6d3bb;
}
.color2{
    background: #e4e7f6;
}
.color3{
    background: #e1ead1;
}
.color4{
    background: #dceff4;
}
/*end jenis pengiriman */

/* jenis pengiriman barang*/
.title-jenis-pengiriman{
    width: 100%;
    padding-top: 30px;
}
.title-jenis-pengiriman h4{
    font-size: 15px;
    float: right;
}
.title-jenis-pengiriman p{
    color: rgb(0, 0, 0, 0.5);
    font-weight: 500;
    float: left;
    font-size: 14px;
}
.btn-group-toggle img {
      width: auto;
    /*height: 60px;*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.btn-group {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.btn-group ul{
  display: inline-flex;
}
.btn-group ul li{
    width: 100%;
    /*height: 108px;*/
}
.btn-group ul li p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #ffdb00 !important;
    border-color: #ffdb00 !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
input[type=radio] {
  display: none;
}
/* end jenis pengiriman barang*/

/*form pengiriman user*/
.icon-input{
    background: #002060;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 2;
    color: #fff;
}
.asal_pengiriman{
    height: 44px !important;
}
.tujuan_pengiriman{
    height: 44px !important;
}
/*form pengiriman user*/

/*jenis cargo*/
.card.asuransi{
    margin-bottom: 0.5rem;
}
.asuransi .card-body{
    padding: 0.7rem 1rem;
}
.asuransi .row{
    flex-wrap: nowrap;
}
.label-tujuan{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #555;
}
.icon-left{
    font-size: 14px;
    font-weight: 100;
    background: #f7941d;
    color: #fff;
    padding: 3px 6.9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
}
.table-cargo{
    font-size: 12px;
}
/*end jenis cargo*/

/*laporan pengiriman*/
.m-signature-pad {
    position: relative;
    font-size: 10px;
    width: 600px;
    height: 220px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
}

.m-signature-pad:before, .m-signature-pad:after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 40%;
    height: 10px;
    left: 20px;
    bottom: 10px;
    background: transparent;
    -webkit-transform: skew(-3deg) rotate(-3deg);
    -moz-transform: skew(-3deg) rotate(-3deg);
    -ms-transform: skew(-3deg) rotate(-3deg);
    -o-transform: skew(-3deg) rotate(-3deg);
    transform: skew(-3deg) rotate(-3deg);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.m-signature-pad:after {
    left: auto;
    right: 20px;
    -webkit-transform: skew(3deg) rotate(3deg);
    -moz-transform: skew(3deg) rotate(3deg);
    -ms-transform: skew(3deg) rotate(3deg);
    -o-transform: skew(3deg) rotate(3deg);
    transform: skew(3deg) rotate(3deg);
}

.m-signature-pad--body {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid #f4f4f4;
}

.m-signature-pad--body canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

@media screen and (max-width: 1024px) {
    .m-signature-pad {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 180px;
        min-width: 100px;
        min-height: 100px;
        }
    }

    @media screen and (max-height: 320px) {
        .m-signature-pad--body {
            left: 0;
            right: 0;
            top: 0;
            bottom: 32px;
        }
    }
    /*end laporan pengiriman*/

    .btn-panduan{
        position: fixed;
        right: 15px;
        bottom: 75px;
        border-radius: 50% !important;
        width: 50px;
        height: 50px;
        z-index: 2;
        box-shadow: 0 0 0 0 rgb(32 56 100 / 36%);
        -webkit-animation: pulse 1.5s infinite;
        background: #002060;
    }
    .pulse-button:hover {
        -webkit-animation: none;
    }

    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        70% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);
        }
        100% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
    }