.nav-link i{
	color: #344767;
	font-size: 14px;
}
.nav-link.active i{
	color: #fff;
}
.form-select.form-select-sm{
	width: 60px !important;
}
.paginate_button.page-item.previous a{
	width: 90px !important;
	border-radius: 20px !important;
	margin-right: 10px;
}
.paginate_button.page-item.next a{
	width: 80px !important;
	border-radius: 20px !important;
	margin-left: 10px;
}
.page-item.active .page-link {
	background-image: linear-gradient(310deg, #344767 0%, #344767 100%);
	border-color: #344767;
}