<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link menu-dashboard" href="../dashboard/dashboard.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                 <i class="fa fa-home"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-order" href="#">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-box"></i>
            </div>
            <span class="nav-link-text ms-1">Order</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-history" href="#">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-clock"></i>
            </div>
            <span class="nav-link-text ms-1">History</span>
        </a>
    </li>
    <li class="nav-item">
        <a data-bs-toggle="collapse" href="#user" class="nav-link menu-account" aria-controls="user" role="button"
            aria-expanded="false">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                <i class="fa fa-user"></i>
            </div>
            <span class="nav-link-text ms-1">Account</span>
        </a>
        <div class="collapse menu-users" id="user" style="">
            <ul class="nav ms-4 ps-3">
                <li class="nav-item ">
                    <a class="nav-link menu-users-link" href="../account/index.html">
                        <span class="sidenav-mini-icon"> U </span>
                        <span class="sidenav-normal"> Users </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="drivers.html">
                        <span class="sidenav-mini-icon"> T </span>
                        <span class="sidenav-normal"> Transporter </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <!-- <li class="nav-item">
          <a class="nav-link" href="users.html">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-truck"></i>
            </div>
            <span class="nav-link-text ms-1">Expeditions</span>
          </a>
        </li> -->

    <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Data Master</h6>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-banks" href="../banks/index.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-university"></i>
            </div>
            <span class="nav-link-text ms-1">Banks</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-city" id="city" href="../city/index.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-city"></i>
            </div>
            <span class="nav-link-text ms-1">City</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-drivers" id="drivers" href="../drivers/index.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-user-tie"></i>
            </div>
            <span class="nav-link-text ms-1">Driver</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-ekspedisi" id="ekspedisi" href="../ekspedisi/index.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-shipping-fast"></i>
            </div>
            <span class="nav-link-text ms-1">Ekspedisi</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-payment" id="payment_methods" href="../payment_methods/index.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-credit-card"></i>
            </div>
            <span class="nav-link-text ms-1">Payment Methods</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-vehicles" id="vehicles" href="../vehicles/index.html">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-truck-pickup"></i>
            </div>
            <span class="nav-link-text ms-1">Vehicles</span>
        </a>
    </li>
    <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">More</h6>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-cog"></i>
            </div>
            <span class="nav-link-text ms-1">Setting</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#">
            <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-sign-out-alt"></i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
        </a>
    </li>
</ul>
<script type="text/javascript">
    // if ('.banks') {}
    $(document).ready(function () {
        $('.dashboard .menu-dashboard').addClass('active');
        //account
        $('.users .menu-account').addClass('active');
        $('.users .menu-users').addClass('show');
        $('.users .menu-users-link').addClass('active');
        //account
        $('.banks .menu-banks').addClass('active');
        $('.city .menu-city').addClass('active');
        $('.drivers .menu-drivers').addClass('active');
        $('.ekspedisi .menu-ekspedisi').addClass('active');
        $('.payment_methods .menu-payment').addClass('active');
        $('.vehicles .menu-vehicles').addClass('active');
    })
</script>